name: Build

on:
  push:
    branches: [main]
    paths-ignore:
      - 'Sample/**'
      - README.md
      - '*.png'
      - '**/*.png'
      - '.github/CODEOWNERS'
      - 'CONTRIBUTING.md'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'Sample/**'
      - README.md
      - '*.png'
      - '**/*.png'
      - '.github/CODEOWNERS'
      - 'CONTRIBUTING.md'
  workflow_dispatch:

jobs:
  build-dotnet:
    name: Build Extension
    runs-on: ubuntu-latest

    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Build
        run: |
          dotnet build

      - name: Test
        run: |
          dotnet test --logger "trx" --results-directory "TestResults"

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: TestResults/*.trx

  publish-local:
    name: Publish Locally
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Install Bicep
        run: |
          az config set bicep.use_binary_from_path=false
          az bicep install

      - name: Publish Extension
        shell: pwsh
        run: |
          $env:BICEP_TRACING_ENABLED = "true"
          ./Infra/Scripts/Publish-Extension.ps1 -Target cloudflare-extension